.AdministrarProductosDeLaAgencia {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.AdministrarProductosDeLaAgencia__Regresar {
  grid-column: 1 / -1;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.AdministrarProductosDeLaAgencia__Regresar__Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarProductosDeLaAgencia__Regresar__Boton ion-icon {
  font-size: 20px;
}
.AdministrarProductosDeLaAgencia__Regresar__Boton:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.AdministrarProductosDeLaAgencia__Regresar__Boton:hover::after {
  content: "Regresar";
}
.AdministrarProductosDeLaAgencia__Regresar__Usuario {
  font-style: italic;
  font-weight: bold;
  color: var(--ColorNegro);
  text-align: center;
}
.AdministrarProductosDeLaAgencia__Regresar__Usuario b {
  font-style: italic;
  color: var(--ColorVerde);
}
.AdministrarProductosDeLaAgencia__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.AdministrarProductosDeLaAgencia__Buscar {
  grid-column: 4/6;
  display: flex;
}
.AdministrarProductosDeLaAgencia__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.AdministrarProductosDeLaAgencia__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.AdministrarProductosDeLaAgencia__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.AdministrarProductosDeLaAgencia__TextoResultados ion-icon {
  font-size: 20px;
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton ion-icon {
  font-size: 15px;
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton.Anterior {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton.Anterior:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.AdministrarProductosDeLaAgencia__BotonesDePaginacion--Boton.Siguiente:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorAzul);
}
.AdministrarProductosDeLaAgencia__Agencia {
  grid-column: span 1;
  color: var(--ColorNegro);
  background-color: var(--ColorSecundario);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-height: 100px;
  height: auto;
  border: 2px solid var(--ColorSecundario);
  border-radius: 20px;
  transition: 0.3s ease-in-out all;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarProductosDeLaAgencia__Agencia.Asignadas {
  position: relative;
  border: 2px solid var(--ColorVerde);
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
}
.AdministrarProductosDeLaAgencia__Agencia.Asignadas:hover {
  transform: scale(1);
  cursor: initial;
}
.AdministrarProductosDeLaAgencia__Agencia__Eliminar {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
  font-size: 10px;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarProductosDeLaAgencia__Agencia__Eliminar:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.AdministrarProductosDeLaAgencia__Agencia__Detalles {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -12.5px;
  right: calc(50% - 12.5px);
  border-radius: 50%;
  border: 2px solid var(--ColorNaranja);
  background-color: var(--ColorNaranja);
  color: var(--ColorNegro);
  font-size: 10px;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarProductosDeLaAgencia__Agencia__Detalles:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.AdministrarProductosDeLaAgencia__Agencia ion-icon {
  font-size: 25px;
}

.AdministrarProductosDeLaAgencia__Agencia:hover {
  border: 2px solid var(--ColorVerde);
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
  cursor: pointer;
  transform: scale(1.02);
}
.AdministrarProductosDeLaAgencia__TextoPaginas {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-weight: bold;
}
@media (width <= 1000px) {
  .AdministrarProductosDeLaAgencia {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .AdministrarProductosDeLaAgencia__Buscar {
    grid-column: 1 / -1;
  }
  .AdministrarProductosDeLaAgencia__Titulo {
    font-size: 20px;
  }
}
@media (width <= 500px) {
  .AdministrarProductosDeLaAgencia {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .AdministrarProductosDeLaAgencia__Agencia {
    font-size: 14px;
  }
  .AdministrarProductosDeLaAgencia__Regresar__Boton {
    font-size: 14px;
  }
  .AdministrarProductosDeLaAgencia__TextoResultados {
    font-size: 12px;
  }
  .AdministrarProductosDeLaAgencia__TextoResultados ion-icon {
    font-size: 18px;
  }
}
