.FormularioBusquedaSalidas {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.FormularioBusquedaSalidas__Opciones {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.FormularioBusquedaSalidas__Opciones {
  margin-top: 30px;
}
.FormularioBusquedaSalidas__Opciones--Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.FormularioBusquedaSalidas__Opciones--Boton:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.FormularioBusquedaSalidas__Opciones--Boton:hover::after {
  content: "Regresar";
}
.FormularioBusquedaSalidas__Opciones--Boton ion-icon {
  font-size: 20px;
}
.FormularioBusquedaSalidas__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 15px;
}
@media (width <= 850px) {
  .FormularioBusquedaSalidas__Opciones {
    font-size: 14px;
  }
  .FormularioBusquedaSalidas__Opciones--Boton {
    font-size: 14px;
  }
  .FormularioBusquedaSalidas__Opciones--Boton ion-icon {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .FormularioBusquedaSalidas__Titulo {
    font-size: 20px;
  }
}
