.DetallesRecoleccion {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.DetallesRecoleccion__Seccion,
.DetallesRecoleccion__Opciones {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.DetallesRecoleccion__Opciones {
  margin-top: 30px;
  justify-content: space-between;
}
.DetallesRecoleccion__Opciones--Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesRecoleccion__Opciones--Boton ion-icon {
  font-size: 20px;
}
.DetallesRecoleccion__Opciones--Boton:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.DetallesRecoleccion__Opciones--Boton:hover::after {
  content: "Regresar";
}
.DetallesRecoleccion__Seccion img {
  width: 50px;
  height: 50px;
}
.DetallesRecoleccion__Seccion h1 {
  color: var(--ColorAzul);
  text-transform: uppercase;
}
.DetallesRecoleccion__Detalles {
  grid-column: span 1;
  background-color: var(--ColorSecundario);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--ColorNegro);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesRecoleccion__Detalles ion-icon {
  font-size: 25px;
}
.DetallesRecoleccion__Detalles.Recoleccion {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
}
.DetallesRecoleccion__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.DetallesRecoleccion__Cuerpo--Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.DetallesRecoleccion__Cuerpo--Tabla--Encabezado tr th {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  min-width: 200px;
}
.DetallesRecoleccion__Cuerpo--Tabla--Encabezado tr th ion-icon {
  font-size: 20px;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo tr td {
  height: 65px;
  padding: 5px;
  font-size: 14px;
  color: var(--ColorNegro);
  font-weight: bold;
  text-align: center;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo--TR {
  background-color: var(--ColorBlanco);
  padding: 10px;
  font-size: 14px;
  color: var(--ColorNegro);
  text-align: center;
  border-right: 2px solid var(--ColorSecundario);
  border-bottom: 2px solid var(--ColorSecundario);
  border-left: 2px solid var(--ColorSecundario);
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo hr {
  height: 2px;
  background-color: var(--ColorSecundario);
  border: none;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones button {
  width: 35px;
  height: 35px;
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
  color: var(--ColorBlanco);
  border-radius: 50%;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones button ion-icon {
  font-size: 18px;
}
.DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones button:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--ColorRojo);
}
@media (width <= 850px) {
  .DetallesRecoleccion {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .DetallesRecoleccion__Seccion,
  .DetallesRecoleccion__Opciones {
    font-size: 14px;
  }
  .DetallesRecoleccion__Seccion img {
    width: 40px;
    height: 40px;
  }
  .DetallesRecoleccion__Opciones--Boton {
    font-size: 14px;
  }
  .DetallesRecoleccion__Opciones--Boton ion-icon {
    font-size: 16px;
  }
  .DetallesRecoleccion__Detalles {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .DetallesRecoleccion__Cuerpo--Tabla--Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .DetallesRecoleccion__Cuerpo--Tabla--Encabezado tr th {
    font-size: 14px;
  }
  .DetallesRecoleccion__Cuerpo--Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .DetallesRecoleccion__Cuerpo--Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones button {
    width: 30px;
    height: 30px;
  }
  .DetallesRecoleccion__Cuerpo--Tabla__Cuerpo__Acciones button ion-icon {
    font-size: 16px;
  }
}
