.Configuración__Titulo {
  width: 100%;
  color: var(--ColorNegro);
}
.Configuración__Subtitulo {
  width: 100%;
  color: var(--ColorGris);
  font-weight: normal;
}
.Configuración__Separador {
  width: 100%;
  min-height: 2px;
  border: none;
  margin: 20px 0;
  background-color: var(--ColorSecundario);
}
.Configuracion__Opciones {
  background-color: var(--ColorSecundario);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.Configuración__Opciones--Boton {
  grid-column: span 1;
  min-height: 50px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: var(--ColorGris);
  font-weight: bold;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-bottom: 2px solid var(--ColorSecundario);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Configuración__Opciones--Boton ion-icon {
  font-size: 20px;
}
.Configuración__Opciones--Boton.Activo {
  background-color: var(--ColorBlanco);
  border-color: var(--ColorGris);
}
@media (width <= 600px) {
  .Configuracion__Opciones {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  .Configuración__Titulo {
    font-size: 20px;
  }
  .Configuración__Subtitulo {
    font-size: 14px;
  }
  .Configuración__Opciones--Boton {
    font-size: 12px;
  }
  .Configuración__Opciones--Boton ion-icon {
    font-size: 16px;
  }
}
