.EditarAgencia {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.EditarAgencia__Opciones {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EditarAgencia__Opciones--Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.EditarAgencia__Opciones--Boton ion-icon {
  font-size: 20px;
}
.EditarAgencia__Opciones--Boton.Regresar {
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
}
.EditarAgencia__Opciones--Boton.Regresar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.EditarAgencia__Opciones--Boton.Regresar:hover::after {
  content: "Regresar";
}
.EditarAgencia__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.DesactivarNombreAgencia {
  background: transparent !important;
  color: var(--ColorRojo) !important;
  border: 2px solid var(--ColorRojo) !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
.EditarAgencia__Footer {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.EditarAgencia__Footer__Boton {
  width: 150px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.EditarAgencia__Footer__Boton.Cancelar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.EditarAgencia__Footer__Boton.Cancelar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.EditarAgencia__Footer__Boton.Guardar {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.EditarAgencia__Footer__Boton.Guardar:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
@media (max-width: 500px) {
  .EditarAgencia__Titulo {
    font-size: 20px;
  }
  .EditarAgencia {
    gap: 25px;
  }
  .EditarAgencia__Footer__Boton {
    width: 100%;
  }
}
