.ModalSubirArchivo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px;

  z-index: 1000;
}

.ModalSubirArchivo__Contenido {
  position: relative;
  background-color: var(--ColorBlanco);
  padding: 10px;
  width: 400px;
  border: 2px solid var(--ColorSecundario);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.ModalSubirArchivo__Contenido--CerrarModal {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
  font-size: 20px;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalSubirArchivo__Contenido--CerrarModal:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.ModalSubirArchivo__Contenido--Opciones {
  grid-column: 1 / -1;
  display: flex;
}
.ModalSubirArchivo__Contenido--Opciones--Boton {
  width: 100%;
  min-height: 35px;
  font-size: 12px;
  font-weight: bold;
  color: var(--ColorNegro);
  background-color: transparent;
  border: 2px solid var(--ColorGrisClaro);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s ease-in-out color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ModalSubirArchivo__Contenido--Opciones--Boton ion-icon {
  font-size: 20px;
}
.ModalSubirArchivo__Contenido--Opciones.Remitentes button:nth-child(1) {
  border-top: 2px solid var(--ColorGrisClaro);
  border-right: 2px solid var(--ColorGrisClaro);
  color: var(--ColorVerde);
}
.ModalSubirArchivo__Contenido--Opciones.Remitentes button:nth-child(2) {
  border-bottom: 2px solid var(--ColorGrisClaro);
}
.ModalSubirArchivo__Contenido--Opciones.Destinatarios button:nth-child(1) {
  border-bottom: 2px solid var(--ColorGrisClaro);
}
.ModalSubirArchivo__Contenido--Opciones.Destinatarios button:nth-child(2) {
  border-top: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
  color: var(--ColorVerde);
}
.ModalSubirArchivo__Contenido--Titulo {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--ColorNegro);
  padding: 10px 0;
  text-transform: uppercase;
}
.ModalSubirArchivo__Contenido--Imagen {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalSubirArchivo__Contenido--Imagen img {
  width: 75px;
}
.ModalSubirArchivo__Contenido--Texto {
  grid-column: 1 / -1;
  color: var(--ColorNegro);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.ModalSubirArchivo__Contenido--Archivo {
  grid-column: 1 / -1;
  height: 40px;
  background-color: var(--ColorGrisClaro);
  border: 2px solid var(--ColorGrisClaro);
  color: var(--ColorGris);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease all;
  padding: 20px 10px;
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalSubirArchivo__Contenido--Archivo:hover {
  background-color: transparent;
  color: var(--ColorGris);
}
.ModalSubirArchivo__Contenido--Archivo--MensajeDeError {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 13px;
  color: var(--ColorRojo);
  font-weight: bold;
}
.ModalSubirArchivo__Contenido--Boton {
  grid-column: 1 / -1;
  text-align: center;
  height: 50px;
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  font-weight: bold;

  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  margin-top: 15px;
}
.ModalSubirArchivo__Contenido--Boton:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorVerde);
}
@media (width <= 550px) {
  .ModalSubirArchivo__Contenido {
    width: 100%;
  }
  .ModalSubirArchivo__Contenido--CerrarModal {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
  }
}
