.PerfilActualizarFoto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.PerfilActualizarFoto__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.PerfilActualizarFoto__SeleccionarImagen {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PerfilActualizarFoto__SeleccionarImagen__Label {
  width: 250px;
  height: 250px;
  padding: 10px;
  border: 2px dashed var(--ColorAzul);
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PerfilActualizarFoto__SeleccionarImagen__Label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  background: white;
  border-radius: 50%;
}
.PerfilActualizarFoto__Texto {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--ColorAzul);
  font-style: italic;
  font-weight: bold;
}
.PerfilActualizarFoto__Boton {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PerfilActualizarFoto__Boton button {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.PerfilActualizarFoto__Boton.Izquierda {
  justify-content: flex-start;
}
.PerfilActualizarFoto__Boton.Izquierda button {
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
}
.PerfilActualizarFoto__Boton.Izquierda button ion-icon {
  font-size: 20px;
}
.PerfilActualizarFoto__Boton.Izquierda button:hover::after {
  content: "Regresar";
}
.PerfilActualizarFoto__Boton.Izquierda button:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.PerfilActualizarFoto__Boton.Centro {
  justify-content: center;
}
.PerfilActualizarFoto__Boton.Centro button {
  border: 2px solid var(--ColorAzul);
  background-color: var(--ColorAzul);
}
.PerfilActualizarFoto__Boton.Centro button:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
@media (width <= 800px) {
  .PerfilActualizarFoto {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (width <= 500px) {
  .PerfilActualizarFoto__SeleccionarImagen__Label {
    width: 100%;
  }
  .PerfilActualizarFoto__SeleccionarImagen__Label {
    width: 180px;
    height: 180px;
  }
  .PerfilActualizarFoto__Boton.Centro button {
    width: 100%;
  }
}
