.AsignarAgenciaUsuario {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
}
.AsignarAgenciaUsuario__MensajeDeError {
  width: 100%;
  font-size: 13px;
  color: var(--ColorRojo);
  font-weight: bold;
}
