.Envios {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
}
.Envios__Titulo {
  width: 100%;
  color: var(--ColorNegro);
  text-transform: uppercase;
  margin-top: 10px;
}
.Envios__Subtitulo {
  width: 100%;
  color: var(--ColorGris);
  font-weight: normal;
}
.Envios__Separador {
  width: 100%;
  min-height: 2px;
  border: none;
  margin: 20px 0;
  background-color: var(--ColorSecundario);
}
.Envios__Cuerpo {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;

  border-bottom: 2px solid var(--ColorSecundario);
}
.Envios__Formulario {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Envios__Formulario--Titulo {
  color: var(--ColorNegro);
  font-size: 18px;
}
.Envios__Formulario--Subtitulo {
  color: var(--ColorGris);
  font-size: 16px;
}
.Envios__Formulario--Inputs {
  display: flex;
  gap: 5px;
}
.Envios__Cuerpo__Inputs--Span {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Envios__Cuerpo__Inputs--Span input {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  background-color: var(--ColorSecundario);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--ColorBlanco);
  font-size: 14px;
  color: var(--ColorNegro);
  font-weight: bold;
  text-align: center;
}
.Envios__Formulario--Inputs button {
  width: 100%;
  height: 40px;
  color: var(--ColorBlanco);
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  text-align: center;
  text-transform: uppercase;
}
.Envios__Formulario--Inputs button:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
.Envios__Lista {
  flex: 1;
}
.Envios__Lista__Detalles {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.Envios__Lista__Detalles li {
  position: relative;
  list-style: none;
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Envios__Lista__Detalles button {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
  border-radius: 15px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Envios__Lista__Detalles button:hover {
  transform: scale(1.1);
}
@media (width <= 950px) {
  .Envios__Cuerpo {
    flex-direction: column;
    gap: 20px;
  }
  .Envios__Lista__Detalles {
    border-top: 2px solid var(--ColorSecundario);
    padding-top: 25px;
  }
}
@media (width <= 500px) {
  .Envios__Cuerpo__Inputs b {
    font-size: 16px;
  }
  .Envios__Cuerpo__Inputs p {
    font-size: 14px;
  }
}
