.Perfil {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
  padding: 10px;
}
@media (width <= 970px) {
  .Perfil {
    display: initial;
    padding: 10px;
  }
}
