.RealizarPedido {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
}
.RealizarPedido__MensajeDeError {
  width: 100%;
  font-size: 13px;
  color: var(--ColorRojo);
  font-weight: bold;
}
.RealizarPedido__AgenciaSeleccionada {
  grid-column: 1 / -1;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.RealizarPedido__AgenciaSeleccionada b {
  color: var(--ColorVerde);
  font-style: italic;
}
@media (width <= 500px) {
  .RealizarPedido__AgenciaSeleccionada {
    font-size: 10px;
  }
}
