.DetallesDelPedido {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.DetallesDelPedido__Seccion,
.DetallesDelPedido__Opciones {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.DetallesDelPedido__Opciones {
  margin-top: 30px;
}
.DetallesDelPedido__Opciones--Botones {
  display: flex;
  gap: 5px;
}
.DetallesDelPedido__OtrosPedidos {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__OtrosPedidos--Texto {
  font-weight: bold;
  color: var(--ColorAzul);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__OtrosPedidos--Botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__OtrosPedidos--Botones--Boton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__OtrosPedidos--Botones--Boton ion-icon {
  font-size: 12px;
}
.DetallesDelPedido__OtrosPedidos--Botones--Boton.Anterior {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.DetallesDelPedido__OtrosPedidos--Botones--Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.DetallesDelPedido__Opciones {
  justify-content: space-between;
}
.DetallesDelPedido__Opciones--Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__Opciones--Boton ion-icon {
  font-size: 20px;
}
.DetallesDelPedido__Opciones--Boton.Regresar,
.DetallesDelPedido__Opciones--Boton.OtroPedido {
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
}
.DetallesDelPedido__Opciones--Boton.Regresar:hover,
.DetallesDelPedido__Opciones--Boton.OtroPedido:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.DetallesDelPedido__Opciones--Boton.Regresar:hover::after {
  content: "Regresar";
}
.DetallesDelPedido__Opciones--Boton.OtroPedido:hover::after {
  content: "Realizar otro pedido";
}
.DetallesDelPedido__Opciones--Boton.Ticket,
.DetallesDelPedido__Opciones--Boton.CodigoDeBarras,
.DetallesDelPedido__Opciones--Boton.PaqueteTickets {
  border: 2px solid var(--ColorAzul);
  background-color: var(--ColorAzul);
}
.DetallesDelPedido__Opciones--Boton.Ticket:hover,
.DetallesDelPedido__Opciones--Boton.CodigoDeBarras:hover,
.DetallesDelPedido__Opciones--Boton.PaqueteTickets:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.DetallesDelPedido__Opciones--Boton.Ticket:hover::after {
  content: "Ticket";
}
.DetallesDelPedido__Opciones--Boton.CodigoDeBarras:hover::after {
  content: "Etiqueta";
}
.DetallesDelPedido__Opciones--Boton.PaqueteTickets:hover::after {
  content: "Paquete de tickets";
}
.DetallesDelPedido__Opciones__Titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.DetallesDelPedido__Seccion img {
  width: 50px;
  height: 50px;
}
.DetallesDelPedido__Seccion h1 {
  color: var(--ColorAzul);
  text-transform: uppercase;
}
.DetallesDelPedido__Detalles {
  grid-column: span 1;
  background-color: var(--ColorSecundario);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--ColorNegro);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DetallesDelPedido__Detalles ion-icon {
  font-size: 25px;
}
.DetallesDelPedido__Detalles.Guia {
  background-color: var(--ColorPrincipal);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles.Pendiente {
  background-color: var(--ColorNaranja);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles.Pagado {
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles.Agencia,
.DetallesDelPedido__Detalles.Fecha,
.DetallesDelPedido__Detalles.Remitente,
.DetallesDelPedido__Detalles.Destinatario,
.DetallesDelPedido__Detalles.Contenido,
.DetallesDelPedido__Detalles.Total {
  grid-column: span 2;
}
.DetallesDelPedido__Detalles.Remitente,
.DetallesDelPedido__Detalles.Destinatario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.DetallesDelPedido__Detalles.Movimiento {
  grid-column: 1 / -1;
  background-color: var(--ColorBlanco);
  padding: 0;

  flex-direction: column;
  gap: 10px;
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado {
  width: 100%;
  border-radius: 15px;
  background-color: var(--ColorSecundario);
  padding: 0;

  display: flex;
}

.DetallesDelPedido__Detalles__Movimiento--Encabezado.Creado,
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Pagado,
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Entregado {
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Pendiente {
  background-color: var(--ColorNaranja);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Cancelado {
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Camino,
.DetallesDelPedido__Detalles__Movimiento--Encabezado.Recolectado {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado--Descripcion {
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.DetallesDelPedido__Detalles__Movimiento--Encabezado ion-icon {
  font-size: 25px;
}
.DetallesDelPedido__Detalles__Encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.DetallesDelPedido__Detalles.CostoSeguro,
.DetallesDelPedido__Detalles.CostoSobrePeso,
.DetallesDelPedido__Detalles.CostoEnvio {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
}
.DetallesDelPedido__Detalles.Total {
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
}
@media (width <= 850px) {
  .DetallesDelPedido {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .DetallesDelPedido__Seccion,
  .DetallesDelPedido__Opciones {
    font-size: 14px;
  }
  .DetallesDelPedido__Seccion img {
    width: 40px;
    height: 40px;
  }
  .DetallesDelPedido__Detalles {
    font-size: 14px;
  }
  .DetallesDelPedido__Opciones--Boton {
    font-size: 14px;
  }
  .DetallesDelPedido__Opciones--Boton ion-icon {
    font-size: 16px;
  }
}
@media (width <= 450px) {
  .DetallesDelPedido__Detalles__Movimiento--Encabezado--Descripcion {
    font-size: 12px;
  }
  .DetallesDelPedido__Detalles__Movimiento--Encabezado--Descripcion ion-icon {
    font-size: 20px;
  }
}
