.SeleccionarAgenciaPedido {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.SeleccionarAgenciaPedido__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.SeleccionarAgenciaPedido__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.SeleccionarAgenciaPedido__TextoResultados ion-icon {
  font-size: 20px;
}
.SeleccionarAgenciaPedido__BotonesDePaginacion {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton ion-icon {
  font-size: 15px;
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton.Anterior {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton.Anterior:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.SeleccionarAgenciaPedido__BotonesDePaginacion--Boton.Siguiente:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorAzul);
}
.DetallesDelPedido__Opciones--Boton ion-icon {
  font-size: 20px;
}
.SeleccionarAgenciaPedido__Buscar {
  grid-column: 4/6;
  display: flex;
}
.SeleccionarAgenciaPedido__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.SeleccionarAgenciaPedido__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.SeleccionarAgenciaPedido__Agencia {
  grid-column: span 1;
  color: var(--ColorNegro);
  background-color: var(--ColorSecundario);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-height: 100px;
  height: auto;
  border: 2px solid var(--ColorSecundario);
  border-radius: 20px;
  transition: 0.3s ease-in-out all;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.SeleccionarAgenciaPedido__Agencia ion-icon {
  font-size: 25px;
}
.SeleccionarAgenciaPedido__Agencia:hover {
  border: 2px solid var(--ColorPrincipal);
  background-color: var(--ColorPrincipal);
  color: var(--ColorBlanco);
  cursor: pointer;
  transform: scale(1.02);
}
.SeleccionarAgenciaPedido__TextoPaginas {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-weight: bold;
}
@media (width <= 1120px) {
  .SeleccionarAgenciaPedido {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .SeleccionarAgenciaPedido__Buscar {
    grid-column: 1 / -1;
  }
}
@media (width <= 500px) {
  .SeleccionarAgenciaPedido {
    grid-template-columns: repeat(2, 1fr);
  }
  .SeleccionarAgenciaPedido__Titulo {
    font-size: 20px;
  }
  .SeleccionarAgenciaPedido__Agencia {
    font-size: 12px;
  }
  .SeleccionarAgenciaPedido__TextoResultados {
    font-size: 12px;
  }
}
