.ListaPedidosPorFecha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.ListaPedidosPorFecha__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.ListaPedidosPorFecha__Titulo--Fechas {
  font-size: 12px;
  color: var(--ColorVerde);
}
.ListaPedidosPorFecha__Botones {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ListaPedidosPorFecha__Botones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--ColorGrisClaro);
  border: 2px solid var(--ColorGrisClaro);
  color: var(--ColorNegro);
  border-radius: 15px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.ListaPedidosPorFecha__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaPedidosPorFecha__TextoResultados ion-icon {
  font-size: 20px;
}
@media (max-width: 500px) {
  .ListaPedidosPorFecha__Titulo {
    font-size: 20px;
  }
  .ListaPedidosPorFecha__TextoResultados {
    font-size: 12px;
  }
  .ListaPedidosPorFecha__TextoResultados ion-icon {
    font-size: 16px;
  }
}
