.ListaPedidosCompleta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.ListaPedidosCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.ListaPedidosCompleta__Buscar {
  grid-column: 3/5;
  display: flex;
}
.ListaPedidosCompleta__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.ListaPedidosCompleta__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.ListaPedidosCompleta__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaPedidosCompleta__TextoResultados ion-icon {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .ListaPedidosCompleta__Buscar {
    grid-column: 1 / -1;
  }
}
@media (max-width: 500px) {
  .ListaPedidosCompleta__Titulo {
    font-size: 20px;
  }
  .ListaPedidosCompleta__TextoResultados {
    font-size: 12px;
  }
  .ListaPedidosCompleta__TextoResultados ion-icon {
    font-size: 16px;
  }
}
