.InformacionDelDestinatario {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.InformacionDelDestinatario__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.InformacionDelDestinatario__Campo {
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.InformacionDelDestinatario__Campo.Dos {
  grid-column: span 2;
}
.InformacionDelDestinatario__Campo.Tres {
  grid-column: 1 / -1;
}
.InformacionDelDestinatario__Campo p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--ColorNegro);
  font-weight: bold;
  gap: 5px;
}
.InformacionDelDestinatario__Campo p ion-icon {
  font-size: 20px;
}
.InformacionDelDestinatario__Campo input,
.InformacionDelDestinatario__Campo select {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 5px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.InformacionDelDestinatario__Campo input:focus {
  border: 2px solid var(--ColorNegro);
}
.InformacionDelDestinatario__Footer {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.InformacionDelDestinatario__Footer__Boton {
  width: 150px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.InformacionDelDestinatario__Footer__Boton.Regresar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.InformacionDelDestinatario__Footer__Boton.Regresar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.InformacionDelDestinatario__Footer__Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.InformacionDelDestinatario__Footer__Boton.Siguiente:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
@media (width <= 900px) {
  .InformacionDelDestinatario {
    grid-template-columns: repeat(2, 1fr);
  }
  .InformacionDelDestinatario__Campo.Dos {
    grid-column: span 1;
  }
}
@media (width <= 500px) {
  .InformacionDelDestinatario {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .InformacionDelDestinatario__Titulo {
    font-size: 20px;
  }
  .InformacionDelDestinatario__Campo {
    font-size: 16px;
  }
  .InformacionDelDestinatario__Footer {
    padding: 0;
  }
  .InformacionDelDestinatario__Footer__Boton {
    width: 100%;
    height: 50px;
  }
}
