.InformacionDelPedido {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.InformacionDelPedido__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.InformacionDelPedido__Campo {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.InformacionDelPedido__Campo.Individual {
  grid-column: span 1;
}
.InformacionDelPedido__Campo.Completo {
  grid-column: 1 / -1;
}

.InformacionDelPedido__Campo p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--ColorNegro);
  font-weight: bold;
  gap: 5px;
  font-size: 16px;
}
.InformacionDelPedido__Campo p ion-icon {
  font-size: 20px;
}
.InformacionDelPedido__Campo input,
.InformacionDelPedido__Campo select {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 5px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.InformacionDelPedido__Campo input:focus {
  border: 2px solid var(--ColorNegro);
}
.InformacionDelPedido__BotonPedido {
  grid-column: span 1;

  display: flex;
  align-items: flex-end;
}
.InformacionDelPedido__BotonPedido button {
  width: 100%;
  min-height: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease-in-out all;
}
.InformacionDelPedido__BotonPedido button:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.InformacionDelPedido__ListaProductos {
  grid-column: 1 / -1;
  padding: 10px;
  margin-top: 30px;
}
.InformacionDelPedido__ListaProductos__Titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InformacionDelPedido__ListaProductos__Titulo__Texto {
  color: var(--ColorAzul);
  font-weight: bold;
  font-size: 25px;

  display: flex;
  align-items: center;
  gap: 5px;
}
.InformacionDelPedido__ListaProductos__Encabezado {
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  margin-top: 15px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;

  display: flex;
}
.InformacionDelPedido__ListaProductos__Encabezado p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InformacionDelPedido__ListaProductos__Encabezado p:nth-child(2) {
  border-right: 2px solid var(--ColorBlanco);
  border-left: 2px solid var(--ColorBlanco);
}
.InformacionDelPedido__ListaProductos__Cuerpo {
  display: flex;
  border: 2px solid var(--ColorSecundario);
  border-top: none;
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles {
  width: 100%;
  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles--Texto {
  text-align: center;
  color: var(--ColorNegro);

  display: flex;
  align-items: center;
  gap: 5px;
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles--Texto.Rojo {
  color: var(--ColorRojo);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles--Texto.Verde {
  color: var(--ColorVerde);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles:nth-child(2) {
  border-right: 2px solid var(--ColorSecundario);
  border-left: 2px solid var(--ColorSecundario);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles:nth-child(3) {
  flex-direction: column;
  gap: 10px;
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton {
  width: 50%;
  height: 40px;
  max-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton.Eliminar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton.Eliminar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton.UltimaMilla {
  background-color: var(--ColorNaranja);
  border: 2px solid var(--ColorNaranja);
}
.InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton.UltimaMilla:hover {
  background-color: transparent;
  color: var(--ColorNaranja);
}
.InformacionDelPedido__Footer {
  padding: 10px;
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.InformacionDelPedido__Footer__Boton {
  width: 150px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.InformacionDelPedido__Footer__Boton.Regresar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.InformacionDelPedido__Footer__Boton.Regresar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.InformacionDelPedido__Footer__Boton.Finalizar {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.InformacionDelPedido__Footer__Boton.Finalizar:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
@media (width <= 1000px) {
  .InformacionDelPedido__BotonPedido {
    grid-column: span 2;
  }
  .InformacionDelPedido__Campo.Individual {
    grid-column: span 2;
  }
  .InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton {
    width: 100%;
  }
  .InformacionDelPedido__ListaProductos__Cuerpo__Detalles p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .InformacionDelPedido__ListaProductos__Titulo {
    flex-direction: column;
  }
}
@media (width <= 500px) {
  .InformacionDelPedido {
    grid-template-columns: 1fr;

    gap: 25px;
  }
  .InformacionDelPedido__Titulo,
  .InformacionDelPedido__ListaProductos__Titulo__Texto {
    font-size: 20px;
  }
  .InformacionDelPedido__Campo {
    font-size: 16px;
  }
  .InformacionDelPedido__Footer__Boton {
    width: 100%;
    height: 50px;
  }
}
@media (width <= 400px) {
  .InformacionDelPedido__ListaProductos__Cuerpo__Detalles__Boton {
    height: 60px;
    max-height: 100px;
  }
}
