.RegistrarUsuario {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 125px);
  overflow-y: auto;
}
.RegistrarUsuario__MensajeDeError {
  width: 100%;
  font-size: 13px;
  color: var(--ColorRojo);
  font-weight: bold;
}
.RegistrarUsuario__InformacionDelUsuario {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.RegistrarUsuario__InformacionDelUsuario__Opciones {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.RegistrarUsuario__InformacionDelUsuario__Opciones--Boton {
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.RegistrarUsuario__InformacionDelUsuario__Opciones--Boton ion-icon {
  font-size: 20px;
}
.RegistrarUsuario__InformacionDelUsuario__Opciones--Boton.Contraseña {
  border: 2px solid var(--ColorAzul);
  background-color: var(--ColorAzul);
}
.RegistrarUsuario__InformacionDelUsuario__Opciones--Boton.Contraseña:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.RegistrarUsuario__InformacionDelUsuario__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.RegistrarUsuario__InformacionDelUsuario__Footer {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.RegistrarUsuario__InformacionDelUsuario__Footer__Boton {
  width: 150px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.RegistrarUsuario__InformacionDelUsuario__Footer__Boton.Cancelar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.RegistrarUsuario__InformacionDelUsuario__Footer__Boton.Cancelar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.RegistrarUsuario__InformacionDelUsuario__Footer__Boton.Guardar {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.RegistrarUsuario__InformacionDelUsuario__Footer__Boton.Guardar:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
@media (max-width: 500px) {
  .RegistrarUsuario__InformacionDelUsuario {
    gap: 25px;
  }
  .RegistrarUsuario__InformacionDelUsuario__Titulo {
    font-size: 20px;
  }
  .RegistrarUsuario__InformacionDelUsuario__Footer {
    flex-direction: column;
  }
  .RegistrarUsuario__InformacionDelUsuario__Footer__Boton {
    width: 100%;
  }
}
