.ListaDePedidos {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.ListaDePedidos__Opciones {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}
.ListaDePedidos__Opciones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  border-radius: 15px;
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ListaDePedidos__Opciones--Boton:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorAzul);
}
.ListaDePedidos__Opciones--Boton ion-icon {
  font-size: 20px;
}
