.ListaDePedidosCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 15px;
}
.ListaDePedidosCompleta__Buscar {
  grid-column: 3/5;
  display: flex;
}
.ListaDePedidosCompleta__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.ListaDePedidosCompleta__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.ListaDePedidosCompleta__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaDePedidosCompleta__TextoResultados ion-icon {
  font-size: 20px;
}
.ListaDePedidosCompleta__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.ListaDePedidosCompleta__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Encabezado tr th {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo tr:nth-child(odd) {
  background-color: var(--ColorSecundario);
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  color: var(--ColorNegro);
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorSecundario);
  border-bottom: 2px solid var(--ColorSecundario);
  border-left: 2px solid var(--ColorSecundario);
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo hr {
  height: 2px;
  background-color: var(--ColorSecundario);
  border: none;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  border-radius: 10px;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
@media (max-width: 1000px) {
  .ListaDePedidosCompleta__Buscar {
    grid-column: 1 / -1;
  }
}
@media (max-width: 500px) {
  .ListaDePedidosCompleta__Titulo {
    font-size: 20px;
  }
  .ListaDePedidosCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .ListaDePedidosCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .ListaDePedidosCompleta__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .ListaDePedidosCompleta__TextoResultados {
    font-size: 12px;
  }
  .ListaDePedidosCompleta__TextoResultados ion-icon {
    font-size: 16px;
  }
}
