.RegistrarAgencia {
  grid-area: Cuerpo;
  width: 100%;
  height: calc(100vh - 125px);
  overflow-y: auto;
}
.RegistrarAgencia__MensajeDeError {
  width: 100%;
  font-size: 13px;
  color: var(--ColorRojo);
  font-weight: bold;
}

.RegistrarAgencia__InformacionDeLaAgencia {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.RegistrarAgencia__InformacionDeLaAgencia__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton {
  width: 150px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  border-radius: 25px;
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton.Cancelar {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton.Cancelar:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton.Guardar {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton.Guardar:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
@media (max-width: 1000px) {
  .GrupoDeInputs.AgenciaUno {
    grid-column: span 2;
  }
}
@media (max-width: 500px) {
  .RegistrarAgencia__InformacionDeLaAgencia__Titulo {
    margin-top: 20px;
    font-size: 20px;
  }
  .RegistrarAgencia__InformacionDeLaAgencia {
    gap: 25px;
  }
  .GrupoDeInputs.AgenciaUno {
    grid-column: 1 / -1;
  }
  .GrupoDeInputs.AgenciaDos {
    grid-column: 1 / -1;
  }
  .RegistrarAgencia__InformacionDeLaAgencia__Footer__Boton {
    width: 100%;
  }
}
