.ListaDeUsuarios {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.ListaDeUsuarios__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.ListaDeUsuarios__Buscar {
  grid-column: 4/ -1;
  display: flex;
}
.ListaDeUsuarios__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.ListaDeUsuarios__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.ListaDeUsuarios__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaDeUsuarios__TextoResultados ion-icon {
  font-size: 20px;
}
.ListaDeUsuarios__BotonesDePaginacion {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ListaDeUsuarios__BotonesDePaginacion--Boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ListaDeUsuarios__BotonesDePaginacion--Boton ion-icon {
  font-size: 15px;
}
.ListaDeUsuarios__BotonesDePaginacion--Boton.Anterior {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.ListaDeUsuarios__BotonesDePaginacion--Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.ListaDeUsuarios__BotonesDePaginacion--Boton.Anterior:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.ListaDeUsuarios__BotonesDePaginacion--Boton.Siguiente:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorAzul);
}
.ListaDeUsuarios__Clasificacion {
  grid-column: 1 / -1;
  color: var(--ColorAzul);

  display: flex;
  gap: 5px;
}
.ListaDeUsuarios__Colores {
  grid-column: 1 / -1;
  display: flex;
  gap: 5px;
}
.ListaDeUsuarios__Clasificacion--Texto {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
  background-color: var(--ColorSecundario);
  color: var(--ColorNegro);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ListaDeUsuarios__Clasificacion--Texto ion-icon {
  font-size: 16px;
}
.ListaDeUsuarios__Clasificacion--Texto.Desactivado {
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
}
.ListaDeUsuarios__TextoPaginas {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-weight: bold;
}
@media (width <= 1120px) {
  .ListaDeUsuarios__Buscar {
    grid-column: 2 / -1;
  }
  .ListaDeUsuarios {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 1000px) {
  .ListaDeUsuarios__Colores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .ListaDeUsuarios__Clasificacion--Texto {
    grid-column: span 1;
  }
}
@media (width <= 600px) {
  .ListaDeUsuarios {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  .ListaDeUsuarios__Buscar {
    grid-column: 1 / -1;
  }
  .ListaDeUsuarios__Titulo {
    font-size: 20px;
  }
  .ListaDeUsuarios__TextoResultados {
    font-size: 12px;
  }
  .ListaDeUsuarios__Clasificacion {
    font-size: 18px;
  }
  .ListaDeUsuarios__Clasificacion--Texto {
    font-size: 12px;
  }
}
@media (width <= 435px) {
  .ListaDeUsuarios__Colores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
