.ListaDeOcurres {
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.ListaDeOcurres__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.ListaDeOcurres__Buscar {
  grid-column: 3/4;
  display: flex;
}
.ListaDeOcurres__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorSecundario);
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.ListaDeOcurres__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--ColorBlanco);
  background-color: var(--ColorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ColorGris);
  font-size: 20px;
}
.ListaDeOcurres__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaDeOcurres__TextoResultados ion-icon {
  font-size: 20px;
}
.ListaDeOcurres__BotonesDePaginacion {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ListaDeOcurres__BotonesDePaginacion--Boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  color: var(--ColorBlanco);
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ListaDeOcurres__BotonesDePaginacion--Boton ion-icon {
  font-size: 15px;
}
.ListaDeOcurres__BotonesDePaginacion--Boton.Anterior {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.ListaDeOcurres__BotonesDePaginacion--Boton.Siguiente {
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
}
.ListaDeOcurres__BotonesDePaginacion--Boton.Anterior:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.ListaDeOcurres__BotonesDePaginacion--Boton.Siguiente:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorAzul);
}
.ListaDeOcurres__Clasificacion {
  grid-column: 1 / -1;
  color: var(--ColorAzul);

  display: flex;
  gap: 5px;
}
.ListaDeOcurres__Colores {
  grid-column: 1 / -1;
  display: flex;
  gap: 5px;
}
.ListaDeOcurres__Clasificacion--Texto {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ListaDeOcurres__Clasificacion--Texto ion-icon {
  font-size: 16px;
}
.ListaDeOcurres__Clasificacion--Texto.Activa {
  background-color: var(--ColorSecundario);
  color: var(--ColorNegro);
}
.ListaDeOcurres__Clasificacion--Texto.Desactivada {
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
}
.ListaDeOcurres__Ocurre {
  position: relative;
  grid-column: span 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-height: 250px;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  transition: 0.3s ease-in-out all;
  color: var(--ColorNegro);
  background-color: var(--ColorSecundario);
  border: 2px solid var(--ColorSecundario);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.ListaDeOcurres__Ocurre.Desactivada {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
  color: var(--ColorBlanco);
}
.ListaDeOcurres__Ocurre ion-icon {
  font-size: 25px;
}
.ListaDeOcurres__Ocurre__Opciones {
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: 35px;

  display: flex;
}
.ListaDeOcurres__Ocurre__Opciones--Boton {
  width: 100%;
  height: 100%;
  background-color: var(--ColorNegro);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ListaDeOcurres__Ocurre__Opciones--Boton ion-icon {
  transition: 0.3s ease-in-out all;
}
.ListaDeOcurres__Ocurre__Opciones--Boton p ion-icon {
  font-size: 18px;
}
.ListaDeOcurres__Ocurre__Opciones--Boton.Administrar p ion-icon {
  font-size: 18px;
  color: var(--ColorVerde);
}
.ListaDeOcurres__Ocurre__Opciones--Boton.Editar p ion-icon {
  font-size: 18px;
  color: var(--ColorAzul);
}
.ListaDeOcurres__Ocurre__Opciones--Boton.Desactivar p ion-icon {
  font-size: 18px;
  color: var(--ColorRojo);
}
.ListaDeOcurres__Ocurre__Opciones--Boton:first-child {
  border-radius: 0 0 0 20px;
}
.ListaDeOcurres__Ocurre__Opciones--Boton:last-child {
  border-radius: 0 0 20px 0;
}
.ListaDeOcurres__Ocurre__Opciones--Boton.Activar {
  border-radius: 0 0 20px 20px;
  color: var(--ColorBlanco);
}
.ListaDeOcurres__Ocurre__Opciones--Boton:hover ion-icon {
  transform: scale(1.2);
}
.ListaDeOcurres__Ocurre.Desactivado {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.ListaDeOcurres__TextoPaginas {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-weight: bold;
}
@media (width <= 1300px) {
  .ListaDeOcurres {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .ListaDeOcurres__Buscar {
    grid-column: 2/3;
  }
}
@media (width <= 1120px) {
  .ListaDeOcurres__Buscar {
    grid-column: 1 / -1;
  }
}
@media (width <= 970px) {
  .ListaDeOcurres__Ocurre {
    min-height: 270px;
  }
}
@media (width <= 900px) {
  .ListaDeOcurres {
    grid-template-columns: 1fr;
  }
  .ListaDeOcurres__Ocurre {
    min-height: 250px;
  }
}
@media (width <= 768px) {
  .ListaDeOcurres {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 668px) {
  .ListaDeOcurres {
    grid-template-columns: 1fr;
  }
}
@media (width <= 500px) {
  .ListaDeOcurres__Titulo {
    font-size: 20px;
  }
  .ListaDeOcurres__TextoResultados {
    font-size: 12px;
  }
  .ListaDeOcurres__Ocurre {
    font-size: 12px;
  }
  .SeleccionarOcurre__TextoResultados {
    font-size: 12px;
  }
  .ListaDeOcurres__Clasificacion {
    font-size: 18px;
  }
  .ListaDeOcurres__Clasificacion--Texto {
    font-size: 12px;
  }
  .ListaDeOcurres__Ocurre {
    min-height: 230px;
  }
}
@media (width <= 435px) {
  .ListaDeOcurres__Colores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
